# This workflow will run tests using bun and then publish a package to npm using trusted publishers (OIDC)
# For more information see: https://docs.npmjs.com/trusted-publishers

name: Bun Package

on:
  release:
    types: [created]

permissions:
  id-token: write # Required for OIDC trusted publishing
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      - run: bun publish
